<!-- Generated template for the PopoverComponent component -->

<!-- <ion-list radio-group>
  <ion-item *ngFor="let l of labels">
    <ion-label> {{l.text}}</ion-label>
    <ion-radio value="{{l.value}}" (click)="chageLabel(l)" checked="false"></ion-radio>
  </ion-item>
</ion-list> -->


<ion-list radio-group>
  <ion-item *ngFor="let l of (labelsList | async)">
    <ion-label> {{l.title}}</ion-label>
    <ion-radio value="{{l.value}}" (click)="chageLabel(l)" checked="false"></ion-radio>
  </ion-item>
</ion-list>