page-add-shopping-item {

    .block{
        position: relative;
        .deleteIcon{
            position: absolute;
            margin-left: 85%;
            margin-top: 5px;
        }
    }
    
    // #sortButton{
    //     background-color: rgba(105,162,41, 0.85);   
    //     position: fixed;
    //     left: 50%;
    //     bottom: 0;
    //     transform: translate(-50%,0%);
       
    // }
}