page-home {
    ion-card{
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3) !important;
        border-radius: 5px !important;
    }
    .work{
        background-color: #F4CD69;
    }
    
    .health{
        background-color: #488aff;
    }

    .personal{
        background-color: #F47169;
    }

    .home{
        background-color: #F469BC;
    }

}
