<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Shopping List - 2
    </ion-title>

    <ion-buttons end> 
      <button ion-button navPush="AddShoppingItemPage">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-list-header>
      Items
    </ion-list-header>
    <ion-item *ngFor="let item of shoppingList$ | async">
      {{item.title}}
    </ion-item>
  </ion-list> -->

  <ion-grid>
    <ion-row>
      <!-- if no items in the DB-->

      <ion-item *ngIf="(shoppingList$ | async)?.length == 0"> 
        Your list is empty 
        <p>Click &nbsp; <ion-icon name="add-circle-outline"></ion-icon> &nbsp; to add new task.</p>
      </ion-item>

      <!-- If items are in the DB-->
      <ion-col col-6 *ngFor="let item of shoppingList$ | async">
        <ion-card>
          <ion-card-header style="padding: 10px 0px">
            <ion-card-title style="padding: 0px; margin: 0px">
              <ion-row no-padding>
                <ion-col text-left style="margin-left: 2%">
                    {{item.title}}
                </ion-col>
                <ion-col text-right style="margin-right: 5%">
                    <ion-icon name="ios-more" (click)="moreOptions(item)"></ion-icon>   
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-content style="height: 150px;" navPush="EditItemPage" [navParams]="{item: item}">
              <!-- <ion-list> -->
                  <ion-label *ngFor="let litems of item.listedItems; let i=index" style="margin-left: 5%; margin-top: 0px">
                     <h3  *ngIf="i < 6"> 
                        <!-- <ion-icon name="radio-button-off"></ion-icon> -->
                        {{litems.title}} 
                      </h3> 
                  </ion-label>
              <!-- </ion-list> -->
          </ion-content>
          <ion-row no-padding>
            <ion-col style="padding-bottom: 5px">
              <ion-badge  *ngIf="item.label !== ''" [ngClass]="item.label">
                {{item.label}}
              </ion-badge>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Length: {{(shoppingList$ | async)?.length}} -->
</ion-content>
