<ion-header>

  <ion-navbar color="primary">
    <!-- <ion-title>Edit Note</ion-title> -->
    <ion-buttons end>
        <button ion-button icon-only style="padding: 5px" (click)="presentPopover($event, fab)">
            <ion-icon>
                <i class="material-icons">label</i>
            </ion-icon>
        </button>

        <button ion-button icon-only style="padding: 5px" 
                (click)="addToCalendar($event, fab)"
                *ngIf="item.startDate === ''">
            <ion-icon>
                <i class="material-icons">event</i>
            </ion-icon>
        </button>

        <button ion-button icon-only style="padding: 5px" (click)="takePicture($event, fab)">
            <ion-icon>
                <i class="material-icons">camera_alt</i>
            </ion-icon>
        </button>

        <button ion-button icon-only (click)="moreOptions(item)">
            <i class="material-icons">more_vert</i>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <!-- Show Note Title and Calendar Event Date -->
    <ion-list id="calendarItem">
      <ion-item>
          <ion-input [(ngModel)]="item.title" placeholder="enter title"></ion-input>
      </ion-item>
      <ion-item-sliding>
        <ion-item *ngIf="item.startDate !== ''">
          {{item?.startDate | date: 'MMM dd, yyyy'}}
          <ion-icon item-end color="primary" (click)="addToCalendar($event, fab)">
            <i class="material-icons"> event </i>
          </ion-icon>
        </ion-item>
        
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeFromCal()">Remove</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  
    <!-- Listed Items -->
    <ion-list no-lines id="listItems">
      <ion-list-header>
        <ion-icon ios="ios-add-circle-outline" md="md-add-circle" name="add-circle-outline" color="primary" item-start></ion-icon>
        <ion-input type="text" placeholder="add item name" #newItem (keyup.enter)="addItem(newItem.value);  newItem.value=''"></ion-input>
      </ion-list-header>
      <ion-item-group reorder="true" (ionItemReorder)="reorderItem($event)">
        <ion-item-sliding *ngFor="let item of item.listedItems" [@bounce]>
          <ion-item>
            <ion-label class="item-title">{{item.title}}</ion-label>
            <ion-checkbox class="item-cbox" checked={{item.checkItem}} (ionChange)="updateListedItems(item)"></ion-checkbox>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteListedItem(item)">Delete</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
  
    <!-- Striked Items -->
    <ion-list no-lines id="strikedItems"> <!-- *ngIf="item.strikedItems.length > 0" -->
      <ion-item-sliding class="strikedItemsStyle" *ngFor="let item of item.strikedItems" [@bounce]>
        <ion-item>
          <ion-label class="item-title-checked" color="lightdark">{{item.title}}</ion-label>
          <ion-checkbox class="item-cbox" checked={{item.checkItem}} (ionChange)="updateStrikedItems(item)"></ion-checkbox>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteStrikedItem(item)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <!-- {{item | json}} -->
    <ion-badge id="Itemlabel" *ngIf="item.label !== ''">
      <!-- {{item?.label.value}} -->
      {{item?.label}}
    </ion-badge>
    <button ion-button round id="saveBtn" (click)= "saveItem(item)">
      Save
    </button>
  </ion-content>