page-edit-item {
    .checkbox .checkbox-icon{
        border-color: color($colors, primary);
    }

    #strikedItems .checkbox .checkbox-icon{
        border-color:  rgba(105, 162, 41, 0);
    }

    .item-cbox{
        margin: 8px 10px 8px 2px;
    }

    .item-title-checked{
        text-decoration: line-through;
    }

    #listItems{
        margin-bottom: 1px !important;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    #listItems > .list-header-ios{
        border-bottom-width: 0.55px !important;
    }

    //setting the box-shdow for ion-fab icons
    ion-fab .fab{
        box-shadow: 0px 0px 5px rgba(105, 162, 41, 0.75) !important;
    }

    //when user clicks ion-fab icon background should be blured
    .backdrop { 
        position: absolute; 
        top: 0; left: 0; 
        width: 100%; 
        height: 100%; 
        background-color: rgba(86, 86, 86, 0.3); 
        z-index: 10; 
    }

    .fab-list-active{
        border: 1px solid color($colors, primary);
        border-radius: 30px;
    }

    .block{
        position: relative;
        .deleteIcon{
            position: absolute;
            margin-left: 85%;
            margin-top: 5px;
        }
    }

    #saveBtn{
        width: 8em;
        background-color: rgba(105,162,41, 0.85);   
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,0%);
        box-shadow: 0px 0px 15px 0px rgba(105, 162, 41, 0.5);
    }

    #Itemlabel{
        position: fixed;
        left: 10%;
        bottom: 1%;
        transform: translate(-50%,0%);
    }

    .work{
        background-color: #F4CD69;
    }
    
    .health{
        background-color: #488aff;
    }

    .personal{
        background-color: #F47169;
    }

    .home{
        background-color: #F469BC;
    }
}
