page-trash {
    ion-card{
        //box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3) !important;
        box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.3) !important;
        border-radius: 50px !important;
    }

    .header-border{
        padding: 5px 0px;
        //border-top: 1px solid;
        border-width: 2px;
    }
}
